@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Merriweather", "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", serif;
  font-size: 1.6rem;
  background-color: #fff;
  color: #666;
  line-height: 1, 5;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}
a {
  color: #4d9ce5;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.2s;
}
a:hover {
  color: #666;
}
.icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.header {
  padding: 6rem 0;
}
.header .title-content {
  float: left;
}
.header h1 {
  font-size: 1.8rem;
  display: inline-block;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.1em;
}
.header h2 {
  font-weight: 300;
  margin: 0.2em 0;
  font-size: 1.3rem;
}
.header .nav-content {
  float: right;
}
.header nav {
  float: left;
}
.header .nav-link {
  padding: 0.2em;
}
.header .nav-feed:before {
  content: "\f09e";
}
.header .header-search {
  margin-left: 0.4em;
  float: left;
}
.nav-content a {
  color: #666;
}
.article {
  margin: 4rem 0;
  padding-bottom: 2rem;
  border-bottom: dotted 1px #eee;
}
.article-header h1 {
  margin: 0;
  line-height: 3rem;
  font-size: 2.6rem;
}
.article-entry h2 {
  font-size: 2.2rem;
  margin: 3em 0 0.6em;
  font-weight: 800;
}
.article-entry h3 {
  font-size: 2rem;
  margin: 2em 0 0.3em;
  font-weight: 700;
}
.article-entry hr {
  border: none;
  margin: 3em 0 2em;
  border-top: 1px solid #efefef;
}
.article-entry code {
  padding: 0.3em 0.4em;
  background-color: #eee;
  border-radius: 2px;
}
.article-entry > table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry > table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.article-entry > table th {
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: 1px solid #ddd;
}
.article-entry > table td {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
}
.article-entry a[href] {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.article-date {
  font-size: 1.3rem;
  color: #999;
}
.article-category {
  float: right;
  font-size: 1.3rem;
}
.article-category-link {
  color: #999;
}
.article-nav {
  margin: 2rem 0;
  font-size: 1.3rem;
}
.article-nav .article-nav-caption {
  color: #999;
}
.article-nav-link {
  display: block;
}
.article-tag-list {
  list-style: none;
  padding: 0;
}
.pager {
  margin-top: 2rem;
  text-align: center;
}
.pager .page-number {
  display: inline-block;
  padding: 2em 4em;
  padding: 1rem;
}
.archives-wrap .archive-year-wrap {
  padding-bottom: 0.6em;
  border-bottom: dotted 1px #eee;
}
.archives-wrap .archive-year {
  color: #999;
  font-size: 1.8rem;
}
.archives-wrap .archives {
  margin-left: 1em;
}
.archive-article .archive-article-header h1 {
  display: inline-block;
  margin-left: 1em;
}
.comments {
  margin-top: 30px;
}
.footer-cotent {
  text-align: center;
  margin: 3rem auto 2rem;
}
.share_content {
  overflow: hidden;
  margin-top: 0.13em;
  margin-right: 0.13em;
}
.hatena_sharebox {
  float: left;
}
.addthis_toolbox {
  float: left;
}
.addthis_button_facebook_like {
  margin-top: -0.1em;
}
.highlight {
  background: #fff;
  margin: 2rem 0;
  color: #333;
  border: 1px solid #eee;
  line-height: 1.6;
  border-radius: 3px;
}
.highlight table {
  border-collapse: collapse;
}
.highlight table td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.highlight .gutter {
  width: 1%;
  min-width: 30px;
  white-space: pre;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  color: #ddd;
  vertical-align: top;
  border-right: 1px solid #eee;
  backgrond-color: #fdfdfd;
}
.highlight .gutter .line:hover {
  color: #bbb;
}
.highlight .code {
  padding-left: 1em;
  white-space: pre;
  overflow: visible;
  word-wrap: normal;
  position: relative;
  vertical-align: top;
}
.highlight .gutter pre,
.highlight .code pre {
  margin: 0;
}
.highlight .gutter .comment,
.highlight .code .comment,
.highlight .gutter .title,
.highlight .code .title {
  color: #999;
}
.highlight .gutter .variable,
.highlight .code .variable,
.highlight .gutter .attribute,
.highlight .code .attribute,
.highlight .gutter .tag,
.highlight .code .tag,
.highlight .gutter .regexp,
.highlight .code .regexp,
.highlight .gutter .ruby .constant,
.highlight .code .ruby .constant,
.highlight .gutter .xml .tag .title,
.highlight .code .xml .tag .title,
.highlight .gutter .xml .pi,
.highlight .code .xml .pi,
.highlight .gutter .xml .doctype,
.highlight .code .xml .doctype,
.highlight .gutter .html .doctype,
.highlight .code .html .doctype,
.highlight .gutter .css .id,
.highlight .code .css .id,
.highlight .gutter .css .class,
.highlight .code .css .class,
.highlight .gutter .css .pseudo,
.highlight .code .css .pseudo {
  color: #f2777a;
}
.highlight .gutter .number,
.highlight .code .number,
.highlight .gutter .preprocessor,
.highlight .code .preprocessor,
.highlight .gutter .built_in,
.highlight .code .built_in,
.highlight .gutter .literal,
.highlight .code .literal,
.highlight .gutter .params,
.highlight .code .params,
.highlight .gutter .constant,
.highlight .code .constant {
  color: #f99157;
}
.highlight .gutter .class,
.highlight .code .class,
.highlight .gutter .ruby .class .title,
.highlight .code .ruby .class .title,
.highlight .gutter .css .rules .attribute,
.highlight .code .css .rules .attribute {
  color: #9c9;
}
.highlight .gutter .string,
.highlight .code .string,
.highlight .gutter .value,
.highlight .code .value,
.highlight .gutter .inheritance,
.highlight .code .inheritance,
.highlight .gutter .header,
.highlight .code .header,
.highlight .gutter .ruby .symbol,
.highlight .code .ruby .symbol,
.highlight .gutter .xml .cdata,
.highlight .code .xml .cdata {
  color: #9c9;
}
.highlight .gutter .css .hexcolor,
.highlight .code .css .hexcolor {
  color: #6cc;
}
.highlight .gutter .function,
.highlight .code .function,
.highlight .gutter .python .decorator,
.highlight .code .python .decorator,
.highlight .gutter .python .title,
.highlight .code .python .title,
.highlight .gutter .ruby .function .title,
.highlight .code .ruby .function .title,
.highlight .gutter .ruby .title .keyword,
.highlight .code .ruby .title .keyword,
.highlight .gutter .perl .sub,
.highlight .code .perl .sub,
.highlight .gutter .javascript .title,
.highlight .code .javascript .title,
.highlight .gutter .coffeescript .title,
.highlight .code .coffeescript .title {
  color: #69c;
}
.highlight .gutter .keyword,
.highlight .code .keyword,
.highlight .gutter .javascript .function,
.highlight .code .javascript .function {
  color: #c9c;
}
